<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Quick Note &mdash; Save all your dreams</title>
    <meta name="description" content="The portfolio of designer Ivan Designostrom">
    <meta name="author" content="Ivan Designostrom">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================================================================= -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/themes/type_05.css">
    <link rel="stylesheet" href="css/themes/color_06.css">
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicons
    ================================================================================================= -->
    <link rel="shortcut icon" href="images/favicons/favicon.ico">
    <link rel="apple-touch-icon" href="images/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png">

</head>
<body>

<!-- Write preloader to page - this allows the site to load for users with JS disabled -->
<script type="text/javascript">
    document.write("<div id='sitePreloader'><div id='preloaderImage'><img src='images/site_preloader.gif' alt='Preloader' /></div></div>");
</script>

<div class="container">

    <!-- Header begins ========================================================================== -->
    <header class="sixteen columns">
        <div class="logo">
            <img src="images/projects/logo.jpg" alt="Project 02" class="logo" />
        </div>
        <div id="logo">
            <h1>Quick Note</h1>
            <h2>Save all your dreams</h2>
        </div>
        <div id="menu"></div>
        <hr />
    </header>
    <!-- Header ends ============================================================================ -->
    <div id="work">


    </div>
    <!-- Footer begins ========================================================================== -->
    <footer class="sixteen columns">
        <hr />
        <ul id="footerLinks">
            <li>&copy; 2015 Dasha Nikolaenko. All rights reserved.</li>
            <li><a href="mailto:hello@ivandesignostrom.com">nikolashaD@outlook.com</a></li>
            <li><a href="http://www.twitter.com" target="_blank">Twitter</a></li>
            <li><a href="http://www.typeandgrids.com" target="_blank">Powered by Type &amp; Grids</a></li>
        </ul>
    </footer>
    <input type="hidden" id="authenticationSession" data-value="isAuthenticate" />
    <!-- Footer ends ============================================================================ -->

    <!-- LOGIN TEMPLATE ======================================================================= -->
    <script type="text/template" id="login">
        <div id="overview" class="sixteen columns">
            <h3>Need an account? Sign up free.</h3>
            <hr />
        </div>

        <div class="sixteen columns">
            <h3>Login</h3>
        </div>
        <div class="eight columns" id="col1">

            <!-- Project begins ================================================================= -->
            <div class="project">
            <span class="alert <%= spanClass %>"><%= message %></span>            

                <div class="projectThumbnail">
                    <svg class="thumbnailMask"></svg>
                    <form class="form-horizontal-login">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="userName" placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Remember me
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default" data-login>Sign in</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="project image">
                <div class="projectThumbnail">
                    <svg class="thumbnailMask"></svg>
                    <img src="images/projects/login.jpg" alt="Project 02" class="thumbnailImage" />
                </div>

            </div>
            <!-- Project ends =================================================================== -->
        </div>
        <!-- Project ends =================================================================== -->
    </script>
    <!-- LOGIN TEMPLATE ENDS ========================================================================= -->

    <!-- REGISTRATION TEMPLATE ======================================================================= -->
    <script type="text/template" id="registration">
        <div id="overview" class="sixteen columns">
            <h3>Need an account? Sign up free.</h3>
            <hr />
        </div>
        <div class="sixteen columns">
            <h3>Registration</h3>
        </div>
        <div class="eight columns" id="col1">

            <!-- Project begins ================================================================= -->
            <div class="project">
            <span class="alert <%= spanClass %>"><%= message %></span>

                <div class="projectThumbnail">
                    <svg class="thumbnailMask"></svg>
                    <form class="form-horizontal-registration">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">First name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="firstName" placeholder="First name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Last name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="lastName" placeholder="Last name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Username</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="userName" placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="email" placeholder="Email">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> I'm not a robot
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default" data-registration>Sign up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="project">

                <div class="projectThumbnail">
                    <svg class="thumbnailMask"></svg>
                    <img src="images/projects/registration.jpg" alt="Project 02" class="thumbnailImage" />
                </div>

            </div>
            <!-- Project ends =================================================================== -->
        </div>
            <!-- Project ends =================================================================== -->
    </script>
    <!-- REGISTRATION TEMPLATE ENDS ========================================================================= -->


    <!-- INFORMATION TEMPLATE ======================================================================= -->
    <script type="text/template" id="information">
        <div id="overview" class="sixteen columns">
            <h3>Need an account? Sign up free.</h3>
            <hr />
        </div>

        <div class="sixteen columns">
            <h3>Information page</h3>
        </div>
        <div class="eight columns" id="col1">

            <!-- Project begins ================================================================= -->
            <div class="project">

                <div class="projectThumbnail">
                    <svg class="thumbnailMask"></svg>
                    <span class="alert <%= spanClass %>"><%= message %></h3>
                </div>
            </div>

            <div class="project image">
                <div class="projectThumbnail">
                    <svg class="thumbnailMask"></svg>
                    <img src="images/projects/information.jpg" alt="Project 02" class="thumbnailImage" />
                </div>

            </div>
            <!-- Project ends =================================================================== -->
        </div>
        <!-- Project ends =================================================================== -->
    </script>
    <!-- INFORMATION TEMPLATE ENDS ========================================================================= -->        


    <!-- MAIN TEMPLATE ======================================================================= -->
    <script type="text/template" id="main">
        <div class="sixteen columns">

            <div class="menu">
                <nav>
                    <ul>
                        <li><button>New note</button></li>
                        <li><button>Search</button></li>
                        <li><button>Shortcuts</button></li>
                        <li><button>Deleted</button></li>
                    </ul>
                </nav>
            </div>
            <hr />
        </div>

        <div id="column" class="eight columns list" id="col1">

        </div>

        <div id="shit" class="shit">
        </div>

    </script>
    <!-- MAIN TEMPLATE ENDS ========================================================================= -->

    <script type="text/template" id="form">
        <div class="new-shit">
            <span class="title">
                <textarea id="title" class="title" placeholder="Title">

                </textarea>
            </span>
            <hr />
            <span>
                <textarea id="content" class="text" placeholder="Text">

                </textarea>
            </span>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default save" data-save>Save</button>
        </div>
    </script>
    
    <script type="text/template" id="list">
        <div data-id="<%= id %>">
            <input type="hidden" data-id="<%= id %>">
            <span class="title"><%= title %></span> <br />
            <span class="date"><%= created %></span>
            <a class="star" href="#"></a>
            <a class="delete" href="#" data-delete></a>
            <hr />
            <span class="note">
                <%= content %>
            </span>
        </div>
    </script>
    
    <script type="text/template" id="unauthorized-menu">
        <nav>
            <ul>
                <li><a href="#login" >Login</a></li>
                <li><a href="#registration">Register</a></li>
            </ul>
        </nav>
    </script>
    <script type="text/template" id="authorized-menu">
        <nav>
            <ul>
                <li><button>My account</button></li>
                <li><button>About us</button></li>
            </ul>
        </nav>
    </script>



    <!-- JS
    ================================================================================================= -->
    <script src="js/vendor/libs/modernizr.min.js"></script>
    <script src="js/vendor/jquery-1.11.3.min.js"></script>
    <script src="js/vendor/libs/jquery.easing.1.3.min.js"></script>
    <script src="js/vendor/libs/jquery.fitvids.js"></script>
    <script src="js/vendor/script.js"></script>

    <script src="js/vendor/underscore.js"></script>
    <script src="js/vendor/backbone.js"></script>

    <script src="js/app.js"></script>
    <script src="js/views/menu.js"></script>
    <script src="js/views/login.js"></script>
    <script src="js/views/registration.js"></script>
    <script src="js/views/information.js"></script>
    <script src="js/views/main.js"></script>
    <script src="js/views/form.js"></script>
    <script src="js/views/list.js"></script>
    <script src="js/models/note.js"></script>
    <script src="js/models/user.js"></script>
    <script src="js/collections/notes.js"></script>
    <script src="js/collections/users.js"></script>




    <script>
        window.onload = function() {
            app.init();
        }
    </script>




</div><!-- container -->
</body>
</html>