.form-horizontal-login{
    background-color: white;
    padding: 20px;
    height: 244PX;
}

.form-horizontal-registration{
    background-color: white;
    padding: 20px;
    height: 420PX;
    border-radius: 10px;
}

#col1{
    width:1000px;
}

.project{
    float:left;
    width:46%;
    padding-right: 15px;
}

.container{
    background-color: white;
}

div.logo{
    float:right;
    width:20%;
    height: 0px;
}

img.logo{
    width: 120px;
    padding-left: 40px;
    margin-top: -104px;
}

header.columns{
    margin-bottom: -10px!important;
}

.eight.columns.list{
    width: 30%!important;
    height:700px;
    float:left;
    display: block;
    overflow-y: scroll;
}

.shit{
    width: 67%!important;
    height:700px;
    float:left;
    display: block;
    background:url(../images/projects/main.jpg) repeat-x 0 0;
}

.new-shit{
    background:url(../images/backgrounds/bg_14.png) repeat 0 0 ;
    height:94%;
    padding:20px;
}

.list > .project{
    top:2px;
    padding: 7px;
    float:none;
    width:91%;
    height: 200px;
    margin-bottom:5px;
    background:url(../images/backgrounds/bg_14.png) repeat-x 0 0;
    /*border-radius:5px;*/
    cursor:pointer;
    color: darkgrey;
}

.list > .project:hover{
    top:2px;
    padding: 7px;
    float:none;
    width:91%;
    height: 200px;
    margin-bottom:5px;
    background:url(../images/backgrounds/bg_14.png) repeat-x 0 0;
    /*border-radius:5px;*/
    box-shadow:1px 1px 3px #2FB775;
    cursor:pointer;

}

.list > .project:hover > span.title{
    color: #1C6E46;
}
.list > .project:hover > span.date{
    color: #2FB775;
}
.list > .project:hover > span.note{
    color: grey;
}

span.title{
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-weight: normal;
    font-size: 28px; line-height: 34px; margin-bottom: 6px;
}

span.note{
    display: block;
    margin-top: -25px
}

a.delete{
    /*display: block;*/
    background-image: url("../images/icons/delete.png");
    background-repeat: no-repeat;
    padding-left: 25px;
    padding-top: 53px;
    margin-left: 215px;
}
a.delete:hover{
    /*display: block;*/
    background-image: url("../images/icons/delete_hover.png");
    background-repeat: no-repeat;
    padding-left: 25px;
    padding-top: 53px;
    margin-left: 215px;
}

a.star{
    /*display: block;*/
    background-image: url("../images/icons/star.png");
    background-repeat: no-repeat;
    padding-left: 25px;
    padding-top: 32px;
    margin-left: 115px;
}
a.star:hover{
    /*display: block;*/
    background-image: url("../images/icons/star_hover.png");
    background-repeat: no-repeat;
    padding-left: 25px;
    padding-top: 32px;
    margin-left: 115px;
}

textarea.title{
    color: black;
    background-color: transparent;
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-weight: normal;
    font-size: 28px; line-height: 34px; margin-bottom: 6px;
    width:100%;
    height:69px;
    border: none;
}
textarea.text{
    color: black;
    background-color: transparent;
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-weight: normal;
    font-size: 15px; line-height: 24px; margin-bottom: 6px;
    width:100%;
    height: 81%;
    border: none;
}
